
@font-face {
	font-family: 'slabRegular'; 
	src: url(/src/assets/font/roboto-slab-regular_87a1339b3350c29d2dd0d44a8f9b340e.ttf); 
}

.homepage_resume{
    width: 100%;
    background-color: black;
  color: #000;
  line-height: 1.6;
  position: relative;
  display: flex;
  justify-content: center;
}

.resume_container{
  padding: 3% 0 0 5px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'slabRegular';
    z-index: 100;
      h1{
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        span{
          font-weight: 900;
        }
    }
    h2{
      text-align: center;
    }
   
    .resume_study{
      width: 100%;
      align-self: flex-start;
      padding: 1em 0;
      h1{
        text-align: center;
        color:bisque;
        font-weight: 600;
        padding-bottom: 0.5em;
        }
        .resume_education{
          padding: 0.6em 0;
          h2{
           color:rgb(255, 255, 239);
           span{color:white}
           padding-bottom: 0.4em;
           text-align: left;
          }
          h4{
            padding-top: 0.2em;
            color:rgb(133, 131, 131)
          }
      }
  }
  .resume_skills{
    width: 100%;
    .skills_type{
      font-size: 3.5em;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (max-width:1290px){
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 5vw;
      }
      cursor: pointer;
      div{
        text-align: left;
      }
    }
  } 
}

.homepage_contacts{
  color:white;
  background-color: #000;
  display: flex;
  justify-content: center;
  .homepage__contacts{
    width: 90%;
    display: flex;
    justify-content: center;
    div{
      font-size: 2.8em;
      padding: 20px;
      margin: 0 10px;
      display: flex;
      justify-content:center ;
      align-items: center;
      cursor: pointer;
       :hover{
        transition: 0.3s;
        color: bisque;
      }
      @media screen and (max-width:500px ) {
        padding: 0;
        justify-content: space-between;
        font-size: 7vw;
      }
    }
  }
}


